```{=html}
<div>
  <div>
    <div class="grid quarto-listing-cols-1" style="width:100%;">
      <% for (const item of items) { %>
      <div class="hover-overlay" style="max-width: 80rem;">
        <a href="<%- item.path %>">
          <div class="h-100">
            <div class="hover-card" style="width: 100%; background: <%- item.color %>; padding:0;">
                <h4 style="font-size: 20px; text-align:center; color: white; margin:0; padding-top:3%; padding-bottom:3%;"><%= item.title %></h4>
            </div>
            </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</div>
```